%body.default-body
.member-registration

  = render "devise/registrations/rg-header"

  %main
    .member-information
      %h2.l-head 
        電話番号の確認
      = form_for(@user, url: sign_up_address_path) do |f|
        = f.hidden_field :nickname, value: @user.nickname
        = f.hidden_field :email, value: @user.email
        = f.hidden_field :password, value: @user.password
        = f.hidden_field :password_confirmation, value: @user.password_confirmation
        = f.hidden_field :family_name, value: @user.family_name
        = f.hidden_field :first_name, value: @user.first_name
        = f.hidden_field :family_name_kana, value: @user.family_name_kana
        = f.hidden_field :first_name_kana, value: @user.first_name_kana
        = f.hidden_field :birthday, value: @user.birthday
        = f.hidden_field :phone_number, value: @user.phone_number

        .form-fields
          .form-field
            = label :number, "携帯電話の番号"
            %br/
            = f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "携帯電話の番号を入力", class: "input-default"
          .form-group
            %p.text-info 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。

          %button.red-btn{type: "submit"} SMSを送信する

          %p.text-info ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

          .about-user-info
            .text-right
              =link_to "電話番号の確認が必要な理由>", "https://www.mercari.com/jp/help_center/article/244/"

  = render "devise/registrations/rg-footer"