.wrapper

  = render 'devise/sessions/header'

.password
  .password-main
    %h2.password-main__title パスワードをお忘れの方

  .password-form
    .password-form__input
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .password-form__input__email
          %label.mailadd メールアドレス
          %br/
          = f.email_field :email, autofocus: true, placeholder: "ご登録されたメールアドレス", class: "email-form"
          %span.form-text ご登録されたメールアドレスにパスワード再設定のご案内が送信されます
        .password-form__input__send-btn
          = f.submit "送信する", class: "send"

  = render 'devise/sessions/footer'