.mypage-header
  .mypage-header__line
    .mypage-header__line__top
      = image_tag('logo.svg',class:"logo")
    .form_mask
      = form_tag do
        %input{type:"search",name:"keyword",value:"",placeholder:"何かお探しですか？",class: "input"}
          =fa_icon "search",class:"icon"
  .mypage-header__bottom
    .mypage-header__bottom__btn
      %ul.buttons
        %li.likes
          =link_to "", class: "mypage-header__bottom__btn__likes" do
            = fa_icon 'heart-o'
            %span#likes-letter いいね！一覧
        %li.news
          =link_to "", class: "mypage-header__bottom__btn__news" do
            = fa_icon 'bell-o'
            %span#news-letter お知らせ
        %li.lists
          =link_to "", class: "mypage-header__bottom__btn__lists" do
            = fa_icon 'check'
            %span#list-letter やることリスト
        %li.mypage
          =link_to "", class: "mypage-header__bottom__btn__mypage" do
            = image_tag 'user-icon.png', size: '32x32', id: 'user-icon'
            %span#mypage-letter マイページ
      

    .mypage-header__bottom__left
      =link_to '', class: "mypage-header__bottom__left__category-search" do
        =fa_icon "list-ul",class: "list"
        %span#category-search カテゴリーから探す

      =link_to '', class: "mypage-header__bottom__left__brand-search" do
        =fa_icon "tag", class: "tag"
        %span#brand-search ブランドから探す

.topic-path
  %ul.list
    %li.list-first
      = link_to '', id: "list1" do
        %span.list1 メルカリ
      %i.fa.fa-chevron-right
    %li.list-second
      %span.list2 マイページ
      %i.fa.fa-chevron-right
    %li.list-third
      %span.list3 支払い方法


.card-main

  .card-main__right
    .card-main__right__head
      支払い方法
    .card-main__right__middle
      .card-main__right__middle__title
        クレジットカード一覧
      = link_to credits_users_path, class: 'card-addition' do
        .card-addition__button  
          =fa_icon 'credit-card'
          クレジットカードを追加する

      .card-main__right__bottom
        =link_to '', class: 'card-main__right__bottom__block' do
          %span
            支払い方法について
          =fa_icon 'chevron-right'

  = render 'shared/sidebar'

  =render 'shared/footer'

  
      