.wrapper

  = render 'devise/sessions/header'

  .login
    .login-main
      .login-main__account
        アカウントをお持ちでない方はこちら
        .login-main__account__btn
          =link_to users_new_path, class: "new-btn" do
            %span 新規会員登録    
      .login-main__form
        .login-main__form__facebook
          =fa_icon "facebook-square", class: "f-icon"
          %span Facebookでログイン
        .login-main__form__google
          =fa_icon "google", class: "g-icon"
          %span Googleでログイン

      .login-main__input-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .login-main__input-form__mail
            = f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "mail-text"
          .login-main__input-form__pass
            = f.password_field :text, placeholder: "パスワード", class: "pass-text"
          .login-main__input-form__btn
            = f.submit "ログイン", class: "login-btn"
          = render "devise/shared/links"
  
    .footer_color
      = render 'devise/sessions/footer'