%head
= render "shared/header"
.details-back
  .item-details
    %h1.item-details__name 
      = @product.name
    .item-details__main
      .item-details__main__photo

        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{ style: 'left:0px',width: '900px'}
              - @product_images.each do |i|
                - if i.image.present?
                  .owl-item{ style: 'width:300px'}
                    .owl-item__inner.is-higher-width
                      = image_tag i.image.url

          .owl-dots
            - if @product_images.present?
              - @product_images.each do |i|
                .owl-dot
                  .owl-dot-inner
                    = image_tag i.image.url
              
      %table.item-details__main__photo__table
        %tbody
          %tr
            %th 出品者
            %td
              %a aaaaa
              .table-icons
                .table-icons__icon-good
                  =fa_icon 'smile-o'
                  %span 23
                .table-icons__icon-normal
                  =fa_icon 'meh-o'
                  %span 21
                .table-icons__icon-bad
                  =fa_icon 'frown-o'
                  %span 12
          %tr
            %th カテゴリー
            %td
              %a
                = @product.product_category_id
              %br/
              %a
                = fa_icon 'chevron-right'
                トップス
              %br/
              %a
                = fa_icon 'chevron-right'
                パーカー
          %tr
            %th ブランド
            %td
              %a
                = @product.brand
          %tr
            %th 商品のサイズ
            %td S
          %tr
            %th 商品の状態
            %td
              = @product.condition
          %tr
            %th 配送料の負担
            %td
              = @product.delivery_fee
          %tr
            %th 配送の方法
            %td らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              %a
                = @product.shipping_area
          %tr
            %th 配送日の目安
            %td
              = @product.days_before_shipping
    .item-price
      .paymant-price ¥
      .payment-amount
        = @product.price
      .item-tax (税込)
      .shipping-fee 送料込み

    .item-buy-button
      = link_to "購入画面に進む", buying_product_path(@product)
    
    .item-description
      %p.item-description__text
        = @product.description
      
    .btn-box
      .btn-box__left
        %button
          = fa_icon 'heart-o'
          %span いいね！
          %span 19
        %button.flag-caution
          = fa_icon 'flag'
          %span 不適切な商品の報告
      .btn-box__right
        = fa_icon "lock"
        = link_to "あんしん・あんぜんへの取り組み", "https://www.mercari.com/jp/safe/description/"
  
  .item-message
    .item-message__field
      .item-message__field__input-area
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type: "text", name: "body", class: "message-for-seller"}
        %button.send-message
          %span コメントする
  
  %ul.item-pre-next
    %li.item-pre
      %a 
        = fa_icon 'chevron-left'
        aaaaaaaaaaaaaaaa
    %li.item-next
      %a 
        aaaaaaaaaaaaaaaa
        = fa_icon 'chevron-right'

  .sns-icons
    %ul.sns-icons__icon
      %li.facebook-icon
        = fa_icon 'facebook-square'
      %li.twitter-icon
        = fa_icon 'twitter-square'
      %li.pinterest-icon
        = fa_icon 'pinterest-square'

  .other-users-products
    .other-users-products__items
      %h2 xxxxxさんのその他の出品
      .other-products
        .item-box
          = image_tag("item-parker4.jpg")
          .box-body
            %h3 aaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-t-shirt.jpg")
          .box-body
            %h3 aaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-hat.jpg")
          .box-body
            %h3 aaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-parker4.jpg")
          .box-body
            %h3 aaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-t-shirt.jpg")
          .box-body
            %h3 aaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-hat.jpg")
          .box-body
            %h3 aaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8

    .other-users-products__items
      %h2 xxxxxのxxxx その他の商品
      .other-products
        .item-box
          = image_tag("item-parker2.jpg")
          .box-body
            %h3 aaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-parker3.jpg")
          .box-body
            %h3 aaaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-parker5.jpg")
          .box-body
            %h3 aaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-parker2.jpg")
          .box-body
            %h3 aaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-parker3.jpg")
          .box-body
            %h3 aaaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8
        .item-box
          = image_tag("item-parker5.jpg")
          .box-body
            %h3 aaaaaaa
            .body-num
              .body-num__price
                ¥3333
              .body-num__price__like
                = fa_icon "heart-o"
                %span 8


.bread-crumbs
  %ul
    %li 
      メルカリ
      = fa_icon 'chevron-right'
    %li 
      = @product.name
= render "shared/footer"