.buying-container
  .buying-container__header
    = link_to image_tag('logo.svg', size: '185x49', class: 'buying-container__header__image'), root_path

  .buying-container__main
    .buying-container__main__head
      購入内容の確認
    .buying-container__main__content
      .buying-container__main__content__product
        = image_tag  @product.product_images[0].image.url, width: 64, height: 64, class: 'buying-container__main__content__product__image'
        .buying-container__main__content__product__name
          = @product.name
      .buying-container__main__content__price
        ¥
        = @product.price
        %span.buying-container__main__content__price__detail
          送料込み
      .buying-container__main__content__point
        ポイントはありません
      .buying-container__main__content__payment
        支払い金額
        .buying-container__main__content__payment__right
          ¥
          = @product.price
      .buying-container__main__content__alert
        配送先と支払い方法の入力を完了してください。
      .buying-container__main__content__buy-button
        =link_to "購入する", comfirm_product_path(@product)
    .buying-container__main__address
      .buying-container__main__address__content
        .buying-container__main__address__content__title
          配送先
        .buying-container__main__address__content__postal-code
          〒123-4567
        .buying-container__main__address__content__address
          住所住所住所住所住所住所住所住所住所住所住所住所住所住所
        .buying-container__main__address__content__name
          名前名前名前名前
        = link_to '', class: 'buying-container__main__address__content__change' do
          変更する
          = fa_icon 'chevron-right'
    .buying-container__main__payment
      .buying-container__main__payment__content
        .buying-container__main__payment__content__title
          支払い方法
        .buying-container__main__payment__content__detail
          ＼
        = link_to credits_users_path, class: 'buying-container__main__payment__content__change' do
          変更する
          = fa_icon 'chevron-right'

  .buying-container__footer
    %ul.buying-container__footer__list
      %li.buying-container__footer__list__part
        プライバシーポリシー
      %li.buying-container__footer__list__part
        メルカリ利用規約
      %li.buying-container__footer__list__part
        特定商取引に関する表記
    =link_to '', class: 'buying-container__footer__link' do
      =image_tag 'logo-gray.svg', size: '80x65', class: 'buying-container__footer__link__logo'
    .buying-container__footer__copyright
      © 2019 Mercari