- if flash[:alert]
  %p.flash= flash[:alert]

.buying-container
  .buying-container__header
    = link_to image_tag('logo.svg', size: '185x49', class: 'buying-container__header__image'), root_path

.details-back
  .details-back__head
    %h2.title 購入を確定しますか？
  .item-details
    %h1.item-details__name
      = @product.name
    .item-details__main
      .item-details__main__photo{style:"padding-left: 130px;"}
        = image_tag  @product.product_images[0].image.url, width: 350.33, height: 300
    .item-price
      .paymant-price ¥
      .payment-amount
        = @product.price
      .item-tax (税込)
      .shipping-fee 送料込み
    .point
      = link_to exhibit_product_path do
        %button.btn-default.btn-gray ポイントはありません
    .payresult
      .price-result 支払金額
      .paymant-price2 ¥
      .payment-amount2
        = @product.price
    
    = form_with url: result_product_path do
      :plain
            <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_8119584aef930bf4412e634e"></script>
  .blank 

  .buying-container__footer
    %ul.buying-container__footer__list
      %li.buying-container__footer__list__part
        プライバシーポリシー
      %li.buying-container__footer__list__part
        メルカリ利用規約
      %li.buying-container__footer__list__part
        特定商取引に関する表記
    =link_to '', class: 'buying-container__footer__link' do
      =image_tag 'logo-gray.svg', size: '80x65', class: 'buying-container__footer__link__logo'
    .buying-container__footer__copyright
      © 2019 Mercari