.containar-sell
  = link_to image_tag('mercari_logo_sell.svg', size: '100×49', id: 'mercari_logo_sell', class: "mercari-lg"), root_path
  .sell-page
    = form_for @product, html: {class: "sell-form dropzone", id: "item-dropzone"}  do |f|
      .sell-page__head
        %h2.title 商品の情報を入力
      .sell-page__context
        .sell-page__context__upload
          %label.content 出品画像
          %span.form-arbitrary 必須
          %p 
            最大10枚までアップロードできます
          .sell-dropbox-container.clearfix.state-image-number-10
            .sell-upload-items-container
              .sell-upload-items.have-item-0
                %ul#preview
                  - @product.product_images.first(@image_count).each do |images|
                    %li.sell-upload-item.registered-image{class:"delete_file_#{images.id}"}
                      %figure.sell-upload-figure{class:"file_#{images.id}"}
                        = image_tag image_url("#{images.image}")
                      .sell-upload-button.edit-upload-button
                        %label.sell-upload-edit{for:"file_#{images.id}"} 編集
                        .sell-upload-delete{id:"delete_file_#{images.id}"} 削除
                  .field-hiden
                    = f.fields_for :product_images, class: "sell-upload-drop-file" do |image|
                      = image.file_field :image, class: "file-icon delete_file_#{image.object.id}", id: "file_#{image.object.id}"
                      -if image.object.id.present?
                        = image.check_box :_destroy, id: "delete_file_#{image.object.id}__destroy"

          -# .uploaded-items
          -#   %ul.preview-images
          -#     - @product.product_images.first(@image_count).each do |images|
          -#       %li.preview-images.registered-image{id: "current-image"}
          -#         %figure.sell-upload-figure{class:"file_#{images.id}"}
          -#           = image_tag image_url("#{images.image}")
          -#         .sell-upload-button.edit-upload-button
          -#           %label.sell-upload-edit 編集
          -#           .sell-upload-delete{id:"#{images.id}"} 削除
                    

      .sell-page__contxt__upload__form
      .sell-page__context__explain
        .sell-page__context__explain__form-group
          .products-form
            %label.content 商品名
            %span.form-arbitrary 必須
            %br
            = f.text_field :name, placeholder:"商品名(必須40文字まで)", class: "input-defalt"
            .sell-page__context__explain__form-group__description
              %label.content 商品の説明
              %span.form-arbitrary 必須
              %br
              = f.text_area :description, placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-explain"
      .sell-page__context__property
        .sell-page__context__property__form-group
          %h3.sell-sub-head 商品の詳細
          .sell-page__context__property__form-group__right
            %br
            %label.content カテゴリー
            %span.form-arbitrary  必須
            %br
            .select-wrap
              = f.select :product_category, [['--', ""],['レディース', "レディース"], ['メンズ', "メンズ"], ['ベビー・キッズ', "ベビー・キッズ"], ['インテリア・住まい・小物', "インテリア・住まい・小物"], ['本・音楽・ゲーム', "本・音楽・ゲーム"], ['おもちゃ・ホビー・グッズ', "おもちゃ・ホビー・グッズ"], ['コスメ・香水・美容', "コスメ・香水・美容"], ['家電・スマホ・カメラ', "家電・スマホ・カメラ"], ['スポーツ・レジャー', "スポーツ・レジャー"], ['ハンドメイド', "ハンドメイド"], ['チケット', "チケット"], ['自転車・オートバイ', "自転車・オートバイ"], ['その他', "その他"]]
          .sell-page__context__property__form-group__right
            %label.content 商品の状態
            %span.form-arbitrary  必須
            %br
            .select-wrap
              = f.select :condition, [['--', ""],['新品、未使用', "新品、未使用"], ['未使用に近い', "未使用に近い"], ['目立った傷や汚れなし', "目立った傷や汚れなし"], ['やや傷や汚れあり', "やや傷や汚れあり"], ['傷や汚れあり', "傷や汚れあり"], ['全体的に状態が悪い', "全体的に状態が悪い"]]
      .sell-page__context__delivery
        .sell-page__context__delivery__form-group
          %h3.sell-sub-head 配送について
          = link_to '?', mypage_path, class: "form-question", target: "_blank"
          .sell-page__context__delivery__form-group__right
            %label.content 配送料の負担
            %span.form-arbitrary  必須
            %br
            .select-wrap
              = f.select :delivery_fee, [['--', ""],['送料込み(出品者負担)', "送料込み(出品者負担)"], ['着払い(購入者負担)', "着払い(購入者負担)"]]
            .sell-page__context__delivery__form-group__shipping-area
              %label.content 発送元の地域
              %span.form-arbitrary  必須
              %br
            .select-wrap
              = f.select :shipping_area, Prefecture.all.map { |prefecture| [prefecture.name] }
            %label.content 発送までの日数
            %span.form-arbitrary  必須
            %br
            .select-wrap
              = f.select :days_before_shipping, [['--', ""],['1~2日で発送', "1~2日で発送"], ['2~3日で発送', "2~3日で発送"], ['4~7日で発送', "4~7日で発送"]]
      .sell-page__context__price
        .sell-page__context__price__form-group
          %h3.sell-sub-head 販売価格(300〜9,999,999)
          = link_to '?', mypage_path, class: "form-question", target: "_blank"
          .sell-page__context__price__form-group__right
            .sell-page__context__price__form-group__right__price
              %label.content 価格
              %span.form-arbitrary  必須
              %p.icon ¥
              = f.text_field :price, placeholder:"例)300", class: "input-defalt"
            .sell-page__context__price__form-group__right__fee
              .fee-content
                %label.content 販売手数料(10%)
                .fee-result
                  ¥
                  = (@product.price * 0.10).floor
                %br/
                %label.content 販売利益
                .fee-result
                  ¥
                  = (@product.price - (@product.price * 0.10)).ceil
                
      .sell-page__update
        .sell-page__update__precautions
          %p.precaution
            =link_to root_path, class: "precaution-a" do 
              禁止されている出品
            、
            =link_to root_path, class: "precaution-a" do 
              行為
            を必ずご確認ください。
            %p.precaution
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to root_path, class: "precaution-a" do
              偽ブランドの販売
            は犯罪であり処罰される可能性があります。
            %p.precaution
            また、出品をもちまして
            =link_to root_path, class: "precaution-a" do
              加盟店規約
            に同意したことになります。

        %button.btn-default.btn-red{type:"submit"} 変更する
        
        = link_to exhibit_product_path do
          %button.btn-default.btn-gray{type:"submit"} キャンセル
        
  = render 'devise/registrations/rg-footer'