- if user_signed_in?
  %head
  = render 'shared/mypage-header'
  - breadcrumb :exhibit
  = render "layouts/breadcrumbs"
  .details-back
    = render "products/exhibit"

  = render "shared/footer"
- else
  = render "products/details" 