- if flash[:alert]
  %p.flash= flash[:alert]
.containar-sell
  = link_to image_tag('mercari_logo_sell.svg', class: 'logo', size: '100×49', id: 'mercari_logo_sell'), root_path
  .sell-page
    = form_for @product, html: {class: "sell-form dropzone", id: "item-dropzone"} do |f|
      .sell-page__head
        %h2.title 商品の情報を入力
      .sell-page__context
        .sell-page__context__upload
          %label.content 出品画像
          %span.form-arbitrary 出品
          = f.fields_for :product_images do |image|
            .dropzone-container.clearfix
              #preview
              .dropzone-area
                = image.label :image, class: "dropzone-box", for: "upload-image" do
                  .input_area
                    = image.file_field :image, multiple: true, name: 'product_images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
                  %p= image_tag 'uploadfile-image.png', class:'uploadfile-image-defalt'
              #preview2
              .dropzone-area2
                = image.label :image, class: "dropzone-box", for: "upload-image" do
                  %p
        .sell-page__contxt__upload__form
        .sell-page__context__explain
          .sell-page__context__explain__form-group
            .products-form
              %label.content 商品名
              %span.form-arbitrary 必須
              %br
              = f.text_field :name, placeholder:"商品名(必須40文字まで)", class: "input-defalt"
              .sell-page__context__explain__form-group__description
                %label.content 商品の説明
                %span.form-arbitrary 必須
                %br
                = f.text_area :description, placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "textarea-explain"
        .sell-page__context__property
          .sell-page__context__property__form-group
            %h3.sell-sub-head 商品の詳細
            .sell-page__context__property__form-group__right
              %br
              %label.content カテゴリー
              %span.form-arbitrary  必須
              %br
              .select-wrap
                = f.select :product_category, [['--', ""],['レディース', "レディース"], ['メンズ', "メンズ"], ['ベビー・キッズ', "ベビー・キッズ"], ['インテリア・住まい・小物', "インテリア・住まい・小物"], ['本・音楽・ゲーム', "本・音楽・ゲーム"], ['おもちゃ・ホビー・グッズ', "おもちゃ・ホビー・グッズ"], ['コスメ・香水・美容', "コスメ・香水・美容"], ['家電・スマホ・カメラ', "家電・スマホ・カメラ"], ['スポーツ・レジャー', "スポーツ・レジャー"], ['ハンドメイド', "ハンドメイド"], ['チケット', "チケット"], ['自転車・オートバイ', "自転車・オートバイ"], ['その他', "その他"]]
            .sell-page__context__property__form-group__right
              %label.content 商品の状態
              %span.form-arbitrary  必須
              %br
              .select-wrap
                = f.select :condition, [['--', ""],['新品、未使用', "新品、未使用"], ['未使用に近い', "未使用に近い"], ['目立った傷や汚れなし', "目立った傷や汚れなし"], ['やや傷や汚れあり', "やや傷や汚れあり"], ['傷や汚れあり', "傷や汚れあり"], ['全体的に状態が悪い', "全体的に状態が悪い"]]
        .sell-page__context__delivery
          .sell-page__context__delivery__form-group
            %h3.sell-sub-head 配送について
            %a.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
            .sell-page__context__delivery__form-group__right
              %label.content 配送料の負担
              %span.form-arbitrary  必須
              %br
              .select-wrap
                = f.select :delivery_fee, [['--', ""],['送料込み(出品者負担)', "送料込み(出品者負担)"], ['着払い(購入者負担)', "着払い(購入者負担)"]]
              .sell-page__context__delivery__form-group__shipping-area
                %label.content 発送元の地域
                %span.form-arbitrary  必須
                %br
              .select-wrap
                = f.select :shipping_area, Prefecture.all.map { |prefecture| [prefecture.name] }
              %label.content 発送までの日数
              %span.form-arbitrary  必須
              %br
              .select-wrap
                = f.select :days_before_shipping, [['--', ""],['1~2日で発送', "1~2日で発送"], ['2~3日で発送', "2~3日で発送"], ['4~7日で発送', "4~7日で発送"]]
        .sell-page__context__price
          .sell-page__context__price__form-group
            %h3.sell-sub-head 販売価格(300〜9,999,999)
            %a.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
            .sell-page__context__price__form-group__right
              .sell-page__context__price__form-group__right__price
                %label.content 価格
                %span.form-arbitrary  必須
                %p.icon ¥
                = f.text_field :price, placeholder:"例)300", class: "input-defalt"
              .sell-page__context__price__form-group__right__fee
                %label.content 販売手数料(10%)
                %br
              .sell-page__context__price__form-group__right__result
                %label.resultlabel 販売利益
                %p.result -
        .sell-page__update
          .sell-page__update__precautions
            %p.precaution
              %a.precaution-a{href: 'http://mercari'} 禁止されている出品
              、
              %a.precaution-a{href: 'http://mercari'} 行為
              を必ずご確認ください。
              %p.precaution
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              %a.precaution-a{href: 'http://mercari'}偽ブランドの販売
              は犯罪であり処罰される可能性があります。
              %p.precaution
              また、出品をもちまして
              %a.precaution-a{href: 'http://mercari'}加盟店規約
              に同意したことになります。

          %button.btn-default.btn-red{type:"submit"} 出品する
          %button.btn-default.btn-gray{type:"submit"} もどる

  = render 'devise/registrations/rg-footer'